<h1>Welcome to Buzz</h1>

<div class="sign_up">
<%= form_for :user, url: users_path(@user), method: :post do |f| %>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.submit "Sign Up"%>
  </p>

<% end %>
</div>

<div class="sign_in">
        <%= form_for :session, url: sessions_path, method: :post do |f| %>
    <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </p>

    <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </p>

      <%= f.submit "Log in" %>
    <% end %>
</div>

<div class="debugger" id="map-canvas"></div>